.form {
    padding: 30px;
    background-color: hsla(24, 46%, 72%, 0.63);
    max-width: 600px;
    margin: auto;
}

.form__legend {
    background-color: hsl(17, 39%, 72%);
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

.form__fieldset {
    background-color: hsla(0, 24%, 88%, 0.76);
    border: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px;
}


